.btn:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b8ac2b;
  background-image: -webkit-linear-gradient(top, #b8ac2b, #e6da59);
  background-image: -moz-linear-gradient(top, #b8ac2b, #e6da59);
  background-image: -ms-linear-gradient(top, #b8ac2b, #e6da59);
  background-image: -o-linear-gradient(top, #b8ac2b, #e6da59);
  background-image: linear-gradient(to bottom, #b8ac2b, #e6da59);
  text-decoration: none;
}

.btn:target {
  background: #b8ac2b;
}