<!DOCTYPE html>
<html class="no-js">
    <head>
              <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
        <title>LoLDB</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="../static/css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="../static/css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="../static/css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="../static/css/owl.carousel.css">
        <link rel="stylesheet" href="../static/css/owl.theme.css">
        <link rel="stylesheet" href="../static/css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="../static/css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="../static/css/responsive.css">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="../static/js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="../static/js/bootstrap.min.js"></script>
        <!-- wow js -->
        <script src="../static/js/wow.min.js"></script>
        <!-- slider js -->
        <script src="../static/js/slider.js"></script>
        <script src="../static/js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header"></header>
        
        <script src="../static/js/header.js"></script>

        <!--
        ==================================================
        Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1>SWE of Legends</h1>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->

        <!--
        ==================================================
        Project Motivation Section Start
        ================================================== -->

        <section id="motivation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Motivation</h1>
                        <h4>LoLDB was created for summoners to look up information about champions, items, game modes, and recent matches of players in the Challenger tier.<h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>The Team</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <div class="team-img">
                                <img src="../static/images/wesley_headshot.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Wesley Chung</h3>
                            <p class="team_text"> Senior Computer Science student attending the University of Texas at Austin. Enjoys video games, music, racquetball, and being a better LoL player than Viet Tran.</p>
                            <h4>Responsibilities:</h4>
                                <li>Champion pages</li>
                                <li>Champion grid</li>
                                <li> About page</li>
                            <h4>Number of Commits: 11</h4>
                            <h4>Number of Issues: 5</h4>
                            <h4>Number of Unit Tests: N/A</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <div class="team-img">
                                <img src="../static/images/viet_headshot.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Viet Tran</h3>
                            <p class="team_text"> Senior at the University of Texas at Austin, majoring in Computer Science. Enjoys playing video games
                            in his free time. He is also the best League player on this team.</p>
                            <h4>Responsibilities:</h4>
                            <li>Item pages</li>
                            <li>Item grid</li>
                            <li>Match details pages</li>
                            <li>Match grid</li>
                            <h4>Number of Commits: 32</h4>
                            <h4>Number of Issues: 5</h4>
                            <h4>Number of Unit Tests: N/A</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <div class="team-img">
                                <img src="../static/images/hiep_headshot.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Hiep Vu</h3>
                            <p class="team_text"> Senior in Computer Science who enjoys playing mobile games and listening to music. Doesn't actually play League. </p>
                            <h4>Responsibilities:</h4>
                                <li>RESTful APIs</li>
                                <li>Game Modes pages</li>
                                <li>Game Modes grid</li>
                            <h4>Number of Commits: 9</h4>
                            <h4>Number of Issues: 8</h4>
                            <h4>Number of Unit Tests: N/A</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="../static/images/jamie_headshot.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Jamie Xia</h3>
                            <p class="team_text">Senior in Computer Science. Allergic to weakness. And Bronzies.</p>
                            <h4>Responsibilities:</h4>
                                <li>Apiary</li>
                                <li>Item Tree Structure</li>
                                <li>Navigation Bar</li>
                            <h4>Number of Commits: 18</h4>
                            <h4>Number of Issues: 1</h4>
                            <h4>Number of Unit Tests: N/A</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="team-img">
                                <img src="../static/images/anjiya_headshot.png" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Anjiya Nayani</h3>
                            <p class="team_text">Senior studying Computer Science who is soon to be addicted to
                            League of Legends because of this project. </p>
                            <h4>Responsibilities:</h4>
                            <li>Home Page</li>
                            <h4>Number of Commits: 8</h4>
                            <h4>Number of Issues: 1</h4>
                            <h4>Number of Unit Tests: N/A</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Tools </h2>
                            <h4> <b>Apiary:</b> A useful web app that provides framework to easily document your endpoint’s API calls. </h4>
                            <h4> <b>Bootstrap:</b> A front-end development framework made up of HTML, CSS, and Javascript that allows the build of fully responsive websites. </h4>
                            <h4> <b>Github:</b> Our source control application of choice. </h4>
                            <h4> <b>Google Cloud Platform:</b> To host our static website on the Google Cloud Storage. </h4>
                            <h4> <b>PlanIT Poker:</b> To estimate the time of tasks as a team. </h4>
                            <h4> <b>Slack:</b> For team communication. </h4>
                            <h4> <b>Trello:</b> For issue tracking. </h4>

                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Data </h2>
                            <h4><a href="https://developer.riotgames.com/">Riot Games API:</a> the best place for any GET requests about League of Legends information.</h4>
                            <h4><a href="http://leagueoflegends.wikia.com/api/v1">League of Legends Fandom Wiki API:</a> the only other place for any GET requests about League of Legends.</h4>


                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Stats </h2>
                            <h4> total no. of commits: 93</h4>
                            <h4>total no. of issues: 18</h4>
                            <a href="https://github.com/xiazilla/idb" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Github Repo</a>

                            <a href="http://docs.xiazilla.apiary.io/#" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Apiary API</a>

                            <a href="https://trello.com/b/XNiqgNfd/static-webpage" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Trello</a>

                            <a href="https://utexas.box.com/s/tn6eq1ub4py0zc6mfgnezvhw7u1mgse8" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Technical Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2015</span> . Design and Developed by <a href="http://www.Themefisher.com">Themefisher</a></p>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->
        
    </body>
</html>